body {  
    background: #4488AA;  
}

#hanoi-example {     
    border: #4488AA solid 6px;
    margin: 0 auto;
}

@font-face {
    font-family: 'BitBold';
    src: url('../resources/fonts/BitBold.ttf') format('truetype');
}

#github {
    margin: 5px;
    float: left;
}